* floats: decimals, rationals, irrationals
* Exp is  $\pi\ $, $\frac{1}{3}$

* strings: example "moussa", "howard", '', '2'

* variable assignment: never do this $->$ 2x = "Hello"
    
* can do this x2="Hello", x_2="Hello"

* dont do this 10 = x but x = 10 

* dont do this y = "world"

In [2]:
20 = x

print(x)

SyntaxError: cannot assign to literal (3755834886.py, line 1)

In [1]:
print('2')

2

In [3]:
print(type('I am single quotes'))

<class 'str'>

* Printing

In [4]:
Name = 'Moussa Doumbia'
print(Name)

Moussa Doumbia

In [5]:
Name

'Moussa Doumbia'

In [19]:
Greetings = "Hello!"
New_First = "John "
New_Last = "Snow"
print("Greetings," , New_First, New_Last,'Welcome to our company')

Greetings, John  Snow Welcome to our company

In [20]:
print('Greetings, {}{}'. format (New_First, New_Last), 'welcome to')

Greetings, John Snow welcome to

In [4]:
name = 'John'

In [5]:
print (f"Hello! {name}")

Hello! John

In [8]:
name = 'Emami'
greetings = 'Welcome to data science class'

In [9]:
print('Hello {} {}'.format(name, greetings))

Hello Emami Welcome to data science class

In [11]:
print('Hello {}\n{}'.format(name, greetings))

Hello Emami
Welcome to data science class

In [12]:
print('Hello {one}\n{two}'.format(two=greetings, one=name))

Hello Emami
Welcome to data science class

In [17]:
print('Hello '  + name + ' ' +  greetings)

Hello Emami Welcome to data science class

* ### Strings Methods

In [19]:
# Upper() method
name = 'naomi'

In [20]:
print(name.upper())

NAOMI

In [21]:
# Title Method
print(name.title())

Naomi

In [23]:
# Lower() method
second_name = 'JOHN'

In [24]:
print(second_name.lower())

john

In [25]:
# Center() method
center_name = 'Saujane'

In [26]:
print(center_name.center(0))

Saujane

In [27]:
print(center_name.center(60))

                          Saujane

In [29]:
# Count() method
print(center_name.count('S'))

1

In [30]:
# Count() method
print(center_name.count('a'))

2

In [32]:
# Endwith() method
print(center_name.endswith('s'))

False

In [33]:
# Endwith() method
print(center_name.endswith('e'))

True

In [34]:
# Isnumeric() method
num = '123'

In [35]:
type(num)

str

In [36]:
print(num.isnumeric())

True

In [37]:
num_1 = num.isnumeric()

In [38]:
type(num_1)

bool

In [43]:
# Strip method
last_name = '   Smith    '

In [44]:
len(last_name)

12

In [45]:
r_name = last_name.rstrip()

In [46]:
r_name

'   Smith'

In [47]:
len(r_name)

8

In [48]:
l_name = last_name.lstrip()

In [49]:
l_name

'Smith    '

In [50]:
len(l_name)

9

In [52]:
sname = last_name.strip()

In [53]:
sname

'Smith'

In [54]:
len(sname)

5

* ## List
Lists are used to store multiple items in a single variable. List members are created inside square brackets

In [1]:
a_list = ['apple','orange', 'mango', 'banana']
a_list

['apple', 'orange', 'mango', 'banana']

In [2]:
type(a_list)

list

In [3]:
# Append method
a_list.append('Peach')

In [4]:
a_list

['apple', 'orange', 'mango', 'banana', 'Peach']

In [5]:
# Pop method
a_list.pop(1)

'orange'

In [6]:
a_list

['apple', 'mango', 'banana', 'Peach']

In [7]:
a_list[0]

'apple'

In [8]:
a_list

['apple', 'mango', 'banana', 'Peach']

In [10]:
a_list[-1]

'Peach'

In [11]:
a_list

['apple', 'mango', 'banana', 'Peach']

In [12]:
a_list[3]

'Peach'

In [13]:
# Remove method
a_list.remove('mango')
a_list

['apple', 'banana', 'Peach']

In [14]:
b_list = a_list.copy()
b_list

['apple', 'banana', 'Peach']

* ## Dictionaries
Are used to store key: value. The items in a dictionary are created inside curly brackets {}

In [27]:
# Exp:
cars = {'Make':'Toyota','Model':'Land Cruiser','Year':'2022'}
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': '2022'}

In [33]:
cars['Make']

'Toyota'

In [32]:
cars['Year'] = '2023'
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': '2023', 'Colour': 'Black'}

In [31]:
cars['Colour'] = 'Black'
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': '2022', 'Colour': 'Black'}

In [29]:
cars.keys()

dict_keys(['Make', 'Model', 'Year'])

In [28]:
cars.values()

dict_values(['Toyota', 'Land Cruiser', '2022'])

In [34]:
cars.items()

dict_items([('Make', 'Toyota'), ('Model', 'Land Cruiser'), ('Year', '2023'), ('Colour', 'Black')])

* # Booleans

In [5]:
print (True == False)

False

In [8]:
print((2>3)or(12<56))

True

In [9]:
print((2>3)|(12<56))

True

In [10]:
print((2>3)and(12<56))

False

In [11]:
print(10 == 9)

False

In [12]:
print(10 != 9)

True

* ## Tuples are unmutable objects

In [13]:
t = (1,2,3,4,5)

In [14]:
a,b,c,d,e = t

In [15]:
a

1

In [16]:
d

4

In [17]:
t[0]

1

In [18]:
t[-1]

5

In [19]:
t[3] = 100

TypeError: 'tuple' object does not support item assignment

tuples, unlike lists and dictionaries, cannot be updated

* # Sets: Does not repeat set member

In [26]:
L = [1,1,1,2,3,3,3,4,5,6,7,7,7,8,9,9,9]

In [27]:
s1 = set(L)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Basic Operations
* if, elif, else statememts

In [29]:
seq = [1,2,3,4,5,6,7,8,9]

In [32]:
my_list = ['John','Jon','Josh','Abel','Mike','Sean','West','Abdul']

In [33]:
name = 'Mia'

In [34]:
if name in my_list:
    print('Student')
else:
    print('Not a student')

Not a student

In [35]:
new = 'John'

In [36]:
if new in my_list:
    print('Student')
elif new[0] == 'J':
    print('Sounds familiar')
else:
    print('Not a student')

Student

In [45]:
new = 'Johns'

In [49]:
if new in my_list:
    print('Student')
elif new[0] == 'j':
    print('Sounds familiar')
else:
    print('Not a student')

Not a student

to correct that:

In [40]:
if new in my_list:
    print('Student')
elif new[0].lower() == 'j':
    print('Sounds familiar')
else:
    print('Not a student')

Sounds familiar

In [41]:
new = 'johns'

In [42]:
if new in my_list:
    print('Student')
elif new[0].upper() == 'J':
    print('Sounds familiar')
else:
    print('Not a student')

Sounds familiar