* Basic Operations
     * Comparison Operators
     * if, elif, else ststements
     * for loops
     * while loops
     * range()
     * list comprehension
     * functions
     * lambda expressions
     * map and filter

* # Range ()

In [ ]:
range(1,11) # this will return 1,2,3,4,5,6,7,8,9,10
# will include numbers between 1 and 11, with 1 included and 11 excluded

In [ ]:
range(1,11,2) # this will return 1,3,5,7,9

In [ ]:
for num in range(1,11):
    print(num)

In [ ]:
for num in range(1,11,2):
    print(num)

In [ ]:
for num in range(1,11,2):
    print(num**2)

In [ ]:
for num in range(1,12,2):
    print(num**2)

In [ ]:
for num in range(1,11,3):
    if num % 2== 0:
        print ('Even number')
    else:
        print('Odd number')

* # While Loop

In [21]:
num = 1
while num <11:
    print(num)
    num = num+1
    #num += 1

1
2
3
4
5
6
7
8
9
10

In [20]:
num = 1
while num <11:
    if num %2 != 0:
        print('Odd number')
    else:
        print('Even number')
    num = num+1

Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

* # List Comprehenshion

In [22]:
for num in range(1,11,3):
    if num % 2== 0:
        print('Even number')
    else:
        print('Odd number')

Odd number
Even number
Odd number
Even number

In [23]:
[print('Even number') if num %2 == 0 else print('Odd number') for num in range(11)]

Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

[None, None, None, None, None, None, None, None, None, None, None]

In [2]:
my_list=[]
for num in range(1,11,1):
    my_list.append(num**2)
    num+= 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
[num**2 for num in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
[[num*3 for num in range(4)] for num in range(5)]

[[0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9]]

* # Dictionary Comprehension

In [5]:
name = ['Moussa','Sall','Idris','George']

In [6]:
dico = {k:v for k,v in enumerate(name)}

In [7]:
dico

{0: 'Moussa', 1: 'Sall', 2: 'Idris', 3: 'George'}

In [8]:
gpa = [4,3.9,3.8,3.5]

In [9]:
name_gpg = {k:v for k,v in zip(name,gpa)}
name_gpg

{'Moussa': 4, 'Sall': 3.9, 'Idris': 3.8, 'George': 3.5}

* ## Functions

In [10]:
def square_root_func(num):
    result = num**0.5
    return result

In [11]:
square_root_func(2)

1.4142135623730951

In [12]:
my_list=[]
for num in range(1,11,1):
    my_list.append(num**2)
    num+= 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
def square_func(val):
    my_list = []
    for val in range(1,11):
        my_list.append(val**2)
        val = val+1
    return my_list

In [14]:
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
mylist = [2,-5,10,21,-17,55,-0.5,-78]

In [2]:
mylist[0]

2

In [3]:
mylist[1]

-5

In [4]:
list(enumerate(mylist))

[(0, 2), (1, -5), (2, 10), (3, 21), (4, -17), (5, 55), (6, -0.5), (7, -78)]

In [14]:
def replace_by_zero(mylist):
    for idx,num in enumerate(mylist):
        if num < 0:
            mylist[idx] = 0
    return mylist

In [17]:
mylist

[2, -5, 10, 21, -17, 55, -0.5, -78]

In [10]:
replace_by_zero(mylist)

[2, 0, 10, 21, 0, 55, 0, 0]

In [23]:
# 7 = 7x6x5x4x3x2x1
def factoriel_func(num):
    p = 1
    i = 1
    while i <= num:
        p *= i
        i += 1
    return p

In [24]:
factoriel_func(3)

6

In [26]:
factoriel_func(7)

5040

In [27]:
p = 1

* ## Lambda Expressions

In [28]:
def squares(num):
    result = num**2
    return result

In [29]:
squares(6)

36

# INSTEAD

In [45]:
l =lambda num: num*3

In [46]:
l(6)

18

In [47]:
ano_list = [-1,4,-5,6,7,-11,20,21,33,-77]

In [48]:
list(map(l,ano_list))

[-3, 12, -15, 18, 21, -33, 60, 63, 99, -231]

In [43]:
list(map(replace_by_zero,ano_list))

TypeError: 'int' object is not iterable

In [49]:
l =lambda num: num**2

In [50]:
l(6)

36

In [51]:
ano_list = [-1,4,-5,6,7,-11,20,21,33,-77]

In [52]:
list(map(l,ano_list))

[1, 16, 25, 36, 49, 121, 400, 441, 1089, 5929]

In [56]:
list(filter(lambda num: num %2 == 0, ano_list))

[4, 6, 20]

In [57]:
md_list = [2,12,-3,-5,17,22.0,99,-88]
# use map to replace the odd numbers by 0. 
# and use filter to return the non-negative numbers

In [71]:
def rnge(alist):
    for i in range(len(alist)):
        if alist[i]%2 != 0:
            alist[i] = 0
    return alist

### % = divided by, != means not equal to, == means equal to

In [74]:
lc = [alist if alist[i]%2 != 0, for i in range(len(alist))]

SyntaxError: invalid syntax (705308116.py, line 1)

In [73]:
list(map(rnge,md_list))

TypeError: object of type 'int' has no len()